.article {
  &__title {
    margin-top: 0;
    margin-bottom: 22px;
    font-size: 50px;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2.2px;
    line-height: 1.3;
    font-weight: 400;
    color: #fff;
  }
}