.brain {
  position: relative;
  display: inline-block;
  vertical-align: top;
  
  &__img {
    position: relative;
    display: block;
    z-index: 2;
  }

  &__lobe {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    
    &--full {
      width: 100%;
      height: 100%;
    }
  }
  
  &__sections {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }
  
  &__section {
    fill: transparent;
    cursor: pointer;
    transition: fill 0.4s;
    stroke: $color-root;
    
    &--active {
      fill: rgba(0, 230, 118, 0.6);
    }
  }
  
  &__note {
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    color: #fff;
    padding-bottom: 7px;
    border-bottom: 1px solid $color-root;
    padding-right: 10px;
    white-space: nowrap;
    transition: opacity 0.4s;
    
    &::after {
      content: '';
      position: absolute;
      left: 100%;
      bottom: -1px;
      width: 200px;
      height: 1px;
      background-color: $color-root;
      transform-origin: 0%;
      transform: rotate(55deg);
    }
    
    &--active {
      opacity: 1;
    }
    
    &--right {
      &::after {
        left: 0;
      }
    }
    
    &--top {
      &::after {
        transform: rotate(100deg);
      }
    }
    
    &--top-right {
      &::after {
        transform: rotate(135deg);
      }
    }
    
    &--bottom-right {
      &::after {
        transform: rotate(205deg);
      }
    }
  }
}