.man {
  position: relative;
  width: 930px;
  height: 820px;
  
  &--crop {
    overflow: hidden;
    height: 620px;
  }
  
  &__body {
    position: relative;
    z-index: 1;
    fill: #ffffff;
  }
  
  &__brain {
    position: absolute;
    top: 20px;
    left: 285px;
    z-index: 0;
  }
}