.media {
  font-size: 0;
  
  &--center {
    text-align: center;
  }

  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    
    &:hover {
      .media__icon {
        fill: #fff;
      }
    }
    
    &:not(:last-child) {
      margin-right: 23px;
    }
    
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: -13px;
      left: -13px;
      bottom: -13px;
      right: -13px;
    }
  }
  
  &__icon {
    display: inline-block;
    vertical-align: top;
    fill: $color-root;
    transition: fill 0.3s;
  }
}