.page {
  padding: 0;
  margin: 0;
  min-width: 850px;
  font-size: 12px;
  font-family: $font-family-1;
  background-color: #000;
  
  &__header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $color-root;
  }
  
  &__header-logo {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    
    img {
      display: block;
    }
  }
  
  &__main {
    padding-top: 50px;
  }
}