.page {
  padding: 0;
  margin: 0;
  min-width: 850px;
  font-size: 12px;
  line-height: 1.5;
  font-family: $font-family-1;
  background-color: #000;

  *::selection {
    background: $color-root;
    color: #fff;
   }
  
  &__header {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $color-root;
    margin-bottom: 50px;
  }
  
  &__header-logo {
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
    margin-right: auto;
    
    
    img {
      display: block;
      outline: none;
    }
  }
  
  &__footer {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}