.section {
  height: 900px;
  
  &--main {
    height: 700px;
  }
  
  &__container {
    height: 100%;
  }
  
  &__inner {
    position: relative;
    padding-top: 50px;
    height: 100%;
  }
  
  &__main-content {
    position: relative;
    z-index: 2;
    width: 475px;
  }
  
  &__title {
    margin-top: 0;
    margin-bottom: 17px;
    font-size: 24px;
    font-family: $font-family-2;
    letter-spacing: 1.1px;
    font-weight: 400;
    color: #fff;
  }
  
  &__description {
    margin-top: 0;
    letter-spacing: 0.5px;
    color: #fff;
  }
  
  &__entry {
    position: absolute;
    bottom: 460px;
    left: 0;
    width: 495px;
    padding-left: 14px;
    font-family: $font-family-2;
    color: $color-root;
    
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 790px;
      border-left: 1px solid currentColor;
    }
  }
  
  &__entry-text {
    font-size: 24px;
    letter-spacing: 1.1px;
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  &__man {
    position: absolute;
    top: 0;
    right: -320px;
  }
}