.stats {
  &__title {
    margin-top: 0;
    margin-bottom: 75px;
    font-size: 24px;
    letter-spacing: 1.1px;
    font-weight: 400;
    font-family: $font-family-2;
    color: #fff;
  }
  
  &__inner {
    padding-top: 75px;
    padding-bottom: 140px;
    text-align: center;
  }
}