<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Deviant</title>
  <link rel="stylesheet" href="css/root.css">
</head>
<body class="page">
  <header class="page__header">
    <a href="/" class="page__header-logo">
      <img src="./img/logo.svg" width="90" height="36" alt="Логотип LIFE">
    </a>
  </header>
  <main class="page__main">
    <div class="container">
      <article class="article">
        <header class="article__header">
          <h1 class="article__title title">Какой милый человек, что-то с ним не так.</h1>
        </header>
      </article>
    </div>
  </main>
  <footer class="page__footer">
    
  </footer>
</body>
</html>